body {
  margin: 0;
  font-family: sans-serif;
}

.panel-container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.panel {
  min-height: 100vh;
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.3s ease-in;
  color: yellow;
  cursor: pointer;
}

.panel > * {
  transition: transform 0.3s;
}

.panel1 {
  background-image: url(./src/kareemCjpg.jpg);
  background-size: cover;
  background-position: center;
}
.panel2 {
  background-image: url(./src/malone.jpg);
  background-size: cover;
  background-position: center;
}
.panel3 {
  background-image: url(./src/lebron.jpg);
  background-size: cover;
  background-position: center;
}
.panel4 {
  background-image: url(./src/kobe.jpg);
  background-size: cover;
  background-position: center;
}
.panel5 {
  background-image: url(./src/jordan.jpg);
  background-size: cover;
  background-position: center;
}

.panel > *:first-child {
  transform: translateY(-1000%);
}
.panel > *:last-child {
  transform: translateY(1000%);
}

.panel.active {
  flex-grow: 5;
  font-size: 3rem;
}
.panel.active-open > :first-child {
  transform: translateY(0);
}
.panel.active-open > :last-child {
  transform: translateY(0);
}